<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="SanitySuite">
  <listeners>
        <listener class-name="com.innroad.inncenter.listeners.EnvReaderListener"/>
  </listeners>
  <parameter name="env" value="https://app.innroad.com"/>
	<test name="SanityTest">
		<classes>
			<class name="com.innroad.inncenter.tests.Tapechart_Unassign_Reser" /> 
 <!--  			<class name="com.innroad.inncenter.tests.RateQuote_Book_Reservation" /> 
  			 <class name="com.innroad.inncenter.tests.CheckinCheckoutReservation" />  -->
<!--  			<class name="com.innroad.inncenter.tests.BulkCheckinCheckout" />
			<class name="com.innroad.inncenter.tests.CreateGroupAccount" />  
 			<class name="com.innroad.inncenter.tests.Create_CP_Res_CPPay" />
			<class name="com.innroad.inncenter.tests.Create_UnitOwner_Acc" />
  			<class name="com.innroad.inncenter.tests.Create_Travel_Agent" />
			<class name="com.innroad.inncenter.tests.Create_House_Acc" /> 
			<class name="com.innroad.inncenter.tests.Create_GiftCertificate_Account" />	
 			<class name="com.innroad.inncenter.tests.Reservation_CashPayment" />
			<class name="com.innroad.inncenter.tests.Reservation_MCPayment" />
			<class name="com.innroad.inncenter.tests.EarlyCheckout" /> -->
		</classes>
	</test> <!-- Test -->
</suite> <!-- Suite -->
