<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="SanitySuite">
    <listeners>
        <listener class-name="com.innroad.inncenter.listeners.EnvReaderListener"/>
    </listeners>
    <parameter name="env" value="https://training.innroad.com/login.html"/>
    <test name="phone">
        <parameter name="browser" value="phone"/>
        <classes>
            <class name="com.innroad.inncenter.test.loginLoad"/>
            <!--		<class name="com.innroad.inncenter.test.CheckinCheckoutReservation" />
                    <class name="com.innroad.inncenter.test.RateQuote_Book_Reservation" />
                    <class name="com.innroad.inncenter.test.BulkCheckinCheckout" />
                    <class name="com.innroad.inncenter.test.CreateGroupAccount" />
                    <class name="com.innroad.inncenter.test.Create_CP_Res_CPPay" />
                    <class name="com.innroad.inncenter.test.Create_UnitOwner_Acc" />
                    <class name="com.innroad.inncenter.test.Create_Travel_Agent" />
                    <class name="com.innroad.inncenter.test.Create_House_Acc" />
                    <class name="com.innroad.inncenter.test.Create_GiftCertificate_Account" />
                    <class name="com.innroad.inncenter.test.Reservation_CashPayment" />
                    <class name="com.innroad.inncenter.test.Reservation_MCPayment" /> -->
        </classes>
    </test>
    <test name="Tablet">
        <parameter name="browser" value="tablet"/>
        <classes>
            <class name="com.innroad.inncenter.test.loginLoad"/>
            <!--		<class name="com.innroad.inncenter.test.CheckinCheckoutReservation" />
                    <class name="com.innroad.inncenter.test.RateQuote_Book_Reservation" />
                    <class name="com.innroad.inncenter.test.BulkCheckinCheckout" />
                    <class name="com.innroad.inncenter.test.CreateGroupAccount" />
                    <class name="com.innroad.inncenter.test.Create_CP_Res_CPPay" />
                    <class name="com.innroad.inncenter.test.Create_UnitOwner_Acc" />
                    <class name="com.innroad.inncenter.test.Create_Travel_Agent" />
                    <class name="com.innroad.inncenter.test.Create_House_Acc" />
                    <class name="com.innroad.inncenter.test.Create_GiftCertificate_Account" />
                    <class name="com.innroad.inncenter.test.Reservation_CashPayment" />
                    <class name="com.innroad.inncenter.test.Reservation_MCPayment" /> -->
        </classes>
    </test>
    <test name="Chrome">
        <parameter name="browser" value="chrome"/>
        <classes>
            <class name="com.innroad.inncenter.test.loginLoad"/>
            <!--		<class name="com.innroad.inncenter.test.CheckinCheckoutReservation" />
                    <class name="com.innroad.inncenter.test.RateQuote_Book_Reservation" />
                    <class name="com.innroad.inncenter.test.BulkCheckinCheckout" />
                    <class name="com.innroad.inncenter.test.CreateGroupAccount" />
                    <class name="com.innroad.inncenter.test.Create_CP_Res_CPPay" />
                    <class name="com.innroad.inncenter.test.Create_UnitOwner_Acc" />
                    <class name="com.innroad.inncenter.test.Create_Travel_Agent" />
                    <class name="com.innroad.inncenter.test.Create_House_Acc" />
                    <class name="com.innroad.inncenter.test.Create_GiftCertificate_Account" />
                    <class name="com.innroad.inncenter.test.Reservation_CashPayment" />
                    <class name="com.innroad.inncenter.test.Reservation_MCPayment" /> -->
        </classes>
    </test>

    <!-- Test -->
</suite> <!-- Suite -->


